In [1]:
import pandas as pd
import numpy as np

Importing the data into dataframe

In [2]:
data= pd.read_csv('World Energy Consumption.csv')

Ovewview of the data

In [3]:
data

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22007,Zimbabwe,2018,ZWE,15052191.0,2.271535e+10,NaN,NaN,NaN,NaN,25.910,...,0.218,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22008,Zimbabwe,2019,ZWE,15354606.0,NaN,NaN,NaN,NaN,NaN,24.748,...,0.364,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22009,Zimbabwe,2020,ZWE,15669663.0,NaN,NaN,NaN,NaN,NaN,22.336,...,0.395,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22010,Zimbabwe,2021,ZWE,15993525.0,NaN,NaN,NaN,NaN,NaN,23.760,...,0.498,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22011,Zimbabwe,2022,ZWE,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The data consists of around many countries data aggregated into 22012 rows with most of the entries to be Nan.

Let us see the number of values for each countries and Unions

In [9]:
data['country'].value_counts()

Zimbabwe                     123
South Korea                  123
India                        123
Romania                      123
Hungary                      123
                            ...
Serbia and Montenegro         14
South Sudan                   11
West Germany (EIA)            11
East Germany (EIA)            11
Hawaiian Trade Zone (EIA)      7
Name: country, Length: 306, dtype: int64

As it can be seen, the data seems to have alot of abnormalities and redundencies. Lets use filter in order to reduce the number of columns to aquire only important which is required for displaying the energy prodcution

In [10]:
df0 = data[['iso_code', 
           'country', 
           'year',
           'biofuel_electricity', 
           'hydro_electricity',
           'nuclear_electricity',
           'solar_electricity',
           'wind_electricity', 
           'other_renewable_electricity',
           'coal_electricity',
           'gas_electricity',
           'oil_electricity',
           'biofuel_elec_per_capita', 
           'hydro_elec_per_capita',
           'nuclear_elec_per_capita',
           'solar_elec_per_capita',
           'wind_elec_per_capita', 
           'coal_elec_per_capita',
           'gas_elec_per_capita',
           'oil_elec_per_capita',
           'population'
          ]]

df0

,iso_code,country,year,biofuel_electricity,hydro_electricity,nuclear_electricity,solar_electricity,wind_electricity,other_renewable_electricity,coal_electricity,...,oil_electricity,biofuel_elec_per_capita,hydro_elec_per_capita,nuclear_elec_per_capita,solar_elec_per_capita,wind_elec_per_capita,coal_elec_per_capita,gas_elec_per_capita,oil_elec_per_capita,population
0,NaN,ASEAN (Ember),2000,5.60,50.37,0.0,0.00,0.0,22.53,71.03,...,61.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,ASEAN (Ember),2001,6.02,54.26,0.0,0.00,0.0,22.42,80.02,...,55.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,ASEAN (Ember),2002,6.06,53.32,0.0,0.00,0.0,22.67,87.16,...,56.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,ASEAN (Ember),2003,6.69,53.28,0.0,0.00,0.0,22.43,98.51,...,56.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,ASEAN (Ember),2004,7.57,52.88,0.0,0.00,0.0,24.14,111.62,...,58.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22007,ZWE,Zimbabwe,2018,0.39,5.05,0.0,0.02,0.0,0.39,3.69,...,0.04,25.910,335.499,0.0,1.329,0.0,245.147,0.0,2.657,15052191.0
22008,ZWE,Zimbabwe,2019,0.38,4.17,0.0,0.03,0.0,0.38,3.62,...,0.04,24.748,271.580,0.0,1.954,0.0,235.760,0.0,2.605,15354606.0
22009,ZWE,Zimbabwe,2020,0.35,3.81,0.0,0.03,0.0,0.35,3.36,...,0.04,22.336,243.145,0.0,1.915,0.0,214.427,0.0,2.553,15669663.0
22010,ZWE,Zimbabwe,2021,0.38,4.00,0.0,0.04,0.0,0.38,3.57,...,0.04,23.760,250.101,0.0,2.501,0.0,223.215,0.0,2.501,15993525.0
22011,ZWE,Zimbabwe,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16320539.0

Merging different fuels' columns into one column called 'fuel' we use melt from pandas in order to do this

In [11]:
df = df0.melt(id_vars=['iso_code', 'country', 'year', 'population'],
              var_name='fuel',
              value_name='production'
)

df

,iso_code,country,year,population,fuel,production
0,NaN,ASEAN (Ember),2000,NaN,biofuel_electricity,5.600
1,NaN,ASEAN (Ember),2001,NaN,biofuel_electricity,6.020
2,NaN,ASEAN (Ember),2002,NaN,biofuel_electricity,6.060
3,NaN,ASEAN (Ember),2003,NaN,biofuel_electricity,6.690
4,NaN,ASEAN (Ember),2004,NaN,biofuel_electricity,7.570
...,...,...,...,...,...,...
374199,ZWE,Zimbabwe,2018,15052191.0,oil_elec_per_capita,2.657
374200,ZWE,Zimbabwe,2019,15354606.0,oil_elec_per_capita,2.605
374201,ZWE,Zimbabwe,2020,15669663.0,oil_elec_per_capita,2.553
374202,ZWE,Zimbabwe,2021,15993525.0,oil_elec_per_capita,2.501
374203,ZWE,Zimbabwe,2022,16320539.0,oil_elec_per_capita,NaN

Let us take on of the cases 'Brazil' in order to use it as a control for transformation and cheking the aggreagtion

In [12]:
df.loc[(df['country'] == 'Brazil') & (df['year'] == 2018)]

,iso_code,country,year,population,fuel,production
2971,BRA,Brazil,2018,210166592.0,biofuel_electricity,52.130
24983,BRA,Brazil,2018,210166592.0,hydro_electricity,388.970
46995,BRA,Brazil,2018,210166592.0,nuclear_electricity,14.790
69007,BRA,Brazil,2018,210166592.0,solar_electricity,3.440
91019,BRA,Brazil,2018,210166592.0,wind_electricity,48.120
113031,BRA,Brazil,2018,210166592.0,other_renewable_electricity,52.130
135043,BRA,Brazil,2018,210166592.0,coal_electricity,22.680
157055,BRA,Brazil,2018,210166592.0,gas_electricity,52.360
179067,BRA,Brazil,2018,210166592.0,oil_electricity,11.650
201079,BRA,Brazil,2018,210166592.0,biofuel_elec_per_capita,248.041
223091,BRA,Brazil,2018,210166592.0,hydro_elec_per_capita,1850.770
245103,BRA,Brazil,2018,210166592.0,nuclear_elec_per_capita,70.373
267115,BRA,Brazil,2018,210166592.0,solar_elec_per_capita,16.368
289127,BRA,Brazil,2018,210166592.0,wind_elec_per_capita,228.961
311139,BRA,Brazil,2018,210166592.0,coal_elec_per_capita,107.914
333151,BRA,Brazil,2018,210166592.0,gas_elec_per_capita,249.136
355163,BRA,Brazil,2018,210166592.0,oil_elec_per_capita,55.432

Creating the column 'per_capita' to move the values of fuel_per_capita in order to have separate column for it

In [13]:
def split_type(row):
    if row['fuel'].find('per_capita') != -1:
        value = row['production']
    else:
        value = 0
    return value

df['per_capita'] = df.apply(split_type, axis=1)

df

,iso_code,country,year,population,fuel,production,per_capita
0,NaN,ASEAN (Ember),2000,NaN,biofuel_electricity,5.600,0.000
1,NaN,ASEAN (Ember),2001,NaN,biofuel_electricity,6.020,0.000
2,NaN,ASEAN (Ember),2002,NaN,biofuel_electricity,6.060,0.000
3,NaN,ASEAN (Ember),2003,NaN,biofuel_electricity,6.690,0.000
4,NaN,ASEAN (Ember),2004,NaN,biofuel_electricity,7.570,0.000
...,...,...,...,...,...,...,...
374199,ZWE,Zimbabwe,2018,15052191.0,oil_elec_per_capita,2.657,2.657
374200,ZWE,Zimbabwe,2019,15354606.0,oil_elec_per_capita,2.605,2.605
374201,ZWE,Zimbabwe,2020,15669663.0,oil_elec_per_capita,2.553,2.553
374202,ZWE,Zimbabwe,2021,15993525.0,oil_elec_per_capita,2.501,2.501
374203,ZWE,Zimbabwe,2022,16320539.0,oil_elec_per_capita,NaN,NaN

Once again taking our use case to verfiy the aggregation

In [14]:
df.loc[(df['country'] == 'Brazil') & (df['year'] == 2018)]

,iso_code,country,year,population,fuel,production,per_capita
2971,BRA,Brazil,2018,210166592.0,biofuel_electricity,52.130,0.000
24983,BRA,Brazil,2018,210166592.0,hydro_electricity,388.970,0.000
46995,BRA,Brazil,2018,210166592.0,nuclear_electricity,14.790,0.000
69007,BRA,Brazil,2018,210166592.0,solar_electricity,3.440,0.000
91019,BRA,Brazil,2018,210166592.0,wind_electricity,48.120,0.000
113031,BRA,Brazil,2018,210166592.0,other_renewable_electricity,52.130,0.000
135043,BRA,Brazil,2018,210166592.0,coal_electricity,22.680,0.000
157055,BRA,Brazil,2018,210166592.0,gas_electricity,52.360,0.000
179067,BRA,Brazil,2018,210166592.0,oil_electricity,11.650,0.000
201079,BRA,Brazil,2018,210166592.0,biofuel_elec_per_capita,248.041,248.041
223091,BRA,Brazil,2018,210166592.0,hydro_elec_per_capita,1850.770,1850.770
245103,BRA,Brazil,2018,210166592.0,nuclear_elec_per_capita,70.373,70.373
267115,BRA,Brazil,2018,210166592.0,solar_elec_per_capita,16.368,16.368
289127,BRA,Brazil,2018,210166592.0,wind_elec_per_capita,228.961,228.961
311139,BRA,Brazil,2018,210166592.0,coal_elec_per_capita,107.914,107.914
333151,BRA,Brazil,2018,210166592.0,gas_elec_per_capita,249.136,249.136
355163,BRA,Brazil,2018,210166592.0,oil_elec_per_capita,55.432,55.432

Now cleaning the values in column production that were moved to column per_capita

In [15]:
def clean_production(row):
    if row['per_capita'] != 0:
        value = 0
    else:
        value = row['production']
    return value


df['production'] = df.apply(clean_production, axis=1)

df

,iso_code,country,year,population,fuel,production,per_capita
0,NaN,ASEAN (Ember),2000,NaN,biofuel_electricity,5.60,0.000
1,NaN,ASEAN (Ember),2001,NaN,biofuel_electricity,6.02,0.000
2,NaN,ASEAN (Ember),2002,NaN,biofuel_electricity,6.06,0.000
3,NaN,ASEAN (Ember),2003,NaN,biofuel_electricity,6.69,0.000
4,NaN,ASEAN (Ember),2004,NaN,biofuel_electricity,7.57,0.000
...,...,...,...,...,...,...,...
374199,ZWE,Zimbabwe,2018,15052191.0,oil_elec_per_capita,0.00,2.657
374200,ZWE,Zimbabwe,2019,15354606.0,oil_elec_per_capita,0.00,2.605
374201,ZWE,Zimbabwe,2020,15669663.0,oil_elec_per_capita,0.00,2.553
374202,ZWE,Zimbabwe,2021,15993525.0,oil_elec_per_capita,0.00,2.501
374203,ZWE,Zimbabwe,2022,16320539.0,oil_elec_per_capita,0.00,NaN

Repeating the check with our use case

In [16]:
df.loc[(df['country'] == 'Brazil') & (df['year'] == 2018)]

,iso_code,country,year,population,fuel,production,per_capita
2971,BRA,Brazil,2018,210166592.0,biofuel_electricity,52.13,0.000
24983,BRA,Brazil,2018,210166592.0,hydro_electricity,388.97,0.000
46995,BRA,Brazil,2018,210166592.0,nuclear_electricity,14.79,0.000
69007,BRA,Brazil,2018,210166592.0,solar_electricity,3.44,0.000
91019,BRA,Brazil,2018,210166592.0,wind_electricity,48.12,0.000
113031,BRA,Brazil,2018,210166592.0,other_renewable_electricity,52.13,0.000
135043,BRA,Brazil,2018,210166592.0,coal_electricity,22.68,0.000
157055,BRA,Brazil,2018,210166592.0,gas_electricity,52.36,0.000
179067,BRA,Brazil,2018,210166592.0,oil_electricity,11.65,0.000
201079,BRA,Brazil,2018,210166592.0,biofuel_elec_per_capita,0.00,248.041
223091,BRA,Brazil,2018,210166592.0,hydro_elec_per_capita,0.00,1850.770
245103,BRA,Brazil,2018,210166592.0,nuclear_elec_per_capita,0.00,70.373
267115,BRA,Brazil,2018,210166592.0,solar_elec_per_capita,0.00,16.368
289127,BRA,Brazil,2018,210166592.0,wind_elec_per_capita,0.00,228.961
311139,BRA,Brazil,2018,210166592.0,coal_elec_per_capita,0.00,107.914
333151,BRA,Brazil,2018,210166592.0,gas_elec_per_capita,0.00,249.136
355163,BRA,Brazil,2018,210166592.0,oil_elec_per_capita,0.00,55.432

Cleaning the fuel names for clear picture

In [17]:
df['fuel'] = df['fuel'].str.replace('_elec_per_capita', '')
df['fuel'] = df['fuel'].str.replace('_electricity', '')

df['fuel'].unique()

array(['biofuel', 'hydro', 'nuclear', 'solar', 'wind', 'other_renewable',
       'coal', 'gas', 'oil'], dtype=object)

This is just an extra step I realized I need to do to make sure my 'Country' filter would work as intended in the dashboard.

In [18]:
df = df.drop(df[df['country'] == 'World'].index)

df['country'].unique()

array(['ASEAN (Ember)', 'Afghanistan', 'Africa', 'Africa (EI)',
       'Africa (Ember)', 'Africa (Shift)', 'Albania', 'Algeria',
       'American Samoa', 'Angola', 'Antarctica', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Asia & Oceania (EIA)',
       'Asia (Ember)', 'Asia Pacific (EI)', 'Asia and Oceania (Shift)',
       'Australia', 'Australia and New Zealand (EIA)', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'CIS (EI)', 'Cambodia', 'Cameroon', 'Canada',
       'Cape Verde', 'Cayman Islands', 'Central & South America (EIA)',
       'Central African Republic', 'Central America (EI)',
       'Central and South America (Shift)', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Czechoslovakia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'EU28 (Shift)',
       'East Germany (EIA)', 'East Timor', 'Eastern Africa (EI)',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Eurasia (EIA)',
       'Eurasia (Shift)', 'Europe', 'Europe (EI)', 'Europe (Ember)',
       'Europe (Shift)', 'European Union (27)', 'European Union (EIA)',
       'Falkland Islands', 'Faroe Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'G20 (Ember)', 'G7 (Ember)',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Hawaiian Trade Zone (EIA)', 'High-income countries', 'Honduras',
       'Hong Kong', 'Hungary', 'IEO - Africa (EIA)',
       'IEO - Middle East (EIA)', 'IEO OECD - Europe (EIA)', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America and Caribbean (Ember)', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Low-income countries',
       'Lower-middle-income countries', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico',
       'Mexico, Chile, and other OECD Americas (EIA)',
       'Micronesia (country)', 'Middle Africa (EI)', 'Middle East (EI)',
       'Middle East (EIA)', 'Middle East (Ember)', 'Middle East (Shift)',
       'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'Non-OECD (EI)', 'Non-OECD (EIA)', 'Non-OPEC (EI)',
       'Non-OPEC (EIA)', 'North America', 'North America (EI)',
       'North America (Ember)', 'North America (Shift)', 'North Korea',
       'North Macedonia', 'Northern Mariana Islands', 'Norway',
       'OECD (EI)', 'OECD (EIA)', 'OECD (Ember)', 'OECD (Shift)',
       'OECD - Asia And Oceania (EIA)', 'OECD - Europe (EIA)',
       'OECD - North America (EIA)', 'OPEC (EI)', 'OPEC (EIA)',
       'OPEC (Shift)', 'OPEC - Africa (EIA)',
       'OPEC - South America (EIA)', 'Oceania', 'Oceania (Ember)', 'Oman',
       'Other Non-OECD - America (EIA)', 'Other Non-OECD - Asia (EIA)',
       'Other Non-OECD - Europe and Eurasia (EIA)', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Persian Gulf (EIA)', 'Persian Gulf (Shift)', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South America', 'South Korea',
       'South Korea and other OECD Asia (EIA)', 'South Sudan',
       'South and Central America (EI)', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'U.S. Pacific Islands (EIA)',
       'U.S. Territories (EIA)', 'USSR', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Pacific Islands (Shift)',
       'United States Territories (Shift)',
       'United States Virgin Islands', 'Upper-middle-income countries',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wake Island (EIA)', 'Wake Island (Shift)', 'West Germany (EIA)',
       'Western Africa (EI)', 'Western Sahara', 'Yemen', 'Yugoslavia',
       'Zambia', 'Zimbabwe'], dtype=object)

Finally, grouping the dataframe and checking the result with our use case

In [19]:
df_final = df.groupby(['iso_code', 'country', 'year', 'population', 'fuel']).sum().reset_index()

df_final.loc[(df_final['country'] == 'Brazil') & (df_final['year'] == 2018)]

,iso_code,country,year,population,fuel,production,per_capita
19755,BRA,Brazil,2018,210166592.0,biofuel,52.13,248.041
19756,BRA,Brazil,2018,210166592.0,coal,22.68,107.914
19757,BRA,Brazil,2018,210166592.0,gas,52.36,249.136
19758,BRA,Brazil,2018,210166592.0,hydro,388.97,1850.770
19759,BRA,Brazil,2018,210166592.0,nuclear,14.79,70.373
19760,BRA,Brazil,2018,210166592.0,oil,11.65,55.432
19761,BRA,Brazil,2018,210166592.0,other_renewable,52.13,0.000
19762,BRA,Brazil,2018,210166592.0,solar,3.44,16.368
19763,BRA,Brazil,2018,210166592.0,wind,48.12,228.961

In [20]:
df_final

,iso_code,country,year,population,fuel,production,per_capita
0,ABW,Aruba,1986,64570.0,biofuel,0.0,0.0
1,ABW,Aruba,1986,64570.0,coal,0.0,0.0
2,ABW,Aruba,1986,64570.0,gas,0.0,0.0
3,ABW,Aruba,1986,64570.0,hydro,0.0,0.0
4,ABW,Aruba,1986,64570.0,nuclear,0.0,0.0
...,...,...,...,...,...,...,...
147559,ZWE,Zimbabwe,2022,16320539.0,nuclear,0.0,0.0
147560,ZWE,Zimbabwe,2022,16320539.0,oil,0.0,0.0
147561,ZWE,Zimbabwe,2022,16320539.0,other_renewable,0.0,0.0
147562,ZWE,Zimbabwe,2022,16320539.0,solar,0.0,0.0
147563,ZWE,Zimbabwe,2022,16320539.0,wind,0.0,0.0

Checking the countries column for any unions

In [21]:
df_final['country'].unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Albania',
       'Netherlands Antilles', 'United Arab Emirates', 'Argentina',
       'Armenia', 'American Samoa', 'Antigua and Barbuda', 'Australia',
       'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin',
       'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland', 'Chile',
       'China', "Cote d'Ivoire", 'Cameroon',
       'Democratic Republic of Congo', 'Congo', 'Cook Islands',
       'Colombia', 'Comoros', 'Cape Verde', 'Costa Rica', 'Cuba',
       'Cayman Islands', 'Cyprus', 'Czechia', 'Germany', 'Djibouti',
       'Dominica', 'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador',
       'Egypt', 'Eritrea', 'Western Sahara', 'Spain', 'Estonia',
       'Ethiopia', 'Finland', 'Fiji', 'Falkland Islands', 'France',
       'Faroe Islands', 'Micronesia (country)', 'Gabon', 'United Kingdom',
       'Georgia', 'Ghana', 'Gibraltar', 'Guinea', 'Guadeloupe', 'Gambia',
       'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada',
       'Greenland', 'Guatemala', 'French Guiana', 'Guam', 'Guyana',
       'Hong Kong', 'Honduras', 'Croatia', 'Haiti', 'Hungary',
       'Indonesia', 'India', 'Ireland', 'Iran', 'Iraq', 'Iceland',
       'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan',
       'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati',
       'Saint Kitts and Nevis', 'South Korea', 'Kuwait', 'Laos',
       'Lebanon', 'Liberia', 'Libya', 'Saint Lucia', 'Sri Lanka',
       'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia', 'Macao', 'Morocco',
       'Moldova', 'Madagascar', 'Maldives', 'Mexico', 'North Macedonia',
       'Mali', 'Malta', 'Myanmar', 'Montenegro', 'Mongolia',
       'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Montserrat', 'Martinique', 'Mauritius', 'Malawi', 'Malaysia',
       'Namibia', 'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua',
       'Niue', 'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand',
       'Oman', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Papua New Guinea', 'Poland', 'Puerto Rico', 'North Korea',
       'Portugal', 'Paraguay', 'Palestine', 'French Polynesia', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Sudan',
       'Senegal', 'Singapore', 'Saint Helena', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'Somalia',
       'Saint Pierre and Miquelon', 'Serbia', 'South Sudan',
       'Sao Tome and Principe', 'Suriname', 'Slovakia', 'Slovenia',
       'Sweden', 'Eswatini', 'Seychelles', 'Syria',
       'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan', 'East Timor', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'Taiwan',
       'Tanzania', 'Uganda', 'Ukraine', 'Uruguay', 'United States',
       'Uzbekistan', 'Saint Vincent and the Grenadines', 'Venezuela',
       'British Virgin Islands', 'United States Virgin Islands',
       'Vietnam', 'Vanuatu', 'Samoa', 'Yemen', 'South Africa', 'Zambia',
       'Zimbabwe'], dtype=object)

Saving the file to CSv

In [22]:
df_final.to_csv('reworked_dataset.csv',index=False)